<% @cities.each do |city| %>
 <%= city.name %>
 <div id="cityname"><%= link_to("Show #{city.name}", city_path(city)) %></div>
 <%= button_to('Delete city', city_path(city), method: :delete, data:{confirm: 'Delete them? Are you sure?'}) %>
 <%= link_to('Edit city', edit_city_path(city)) %>
 <br>
<% end %>