<nav>
  <ul>
    <li> <%= link_to('Countries', countries_path) %></li>
    <li> <%= link_to('New Country', new_country_path) %></li>
    <li> <%= link_to('Cities', cities_path) %></li>
    <li> <%= link_to('New City', new_city_path) %></li>
  </ul>
</nav>

